.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px auto;
}

.conversations,
.conversation {
  height: 100vh;
  overflow-y: auto;
}

.conversations {
  background: #fafafa;
  box-shadow: 1px 0 3px -2px #000;
  padding: .5rem;
}

.conversation {
  padding: .5rem;
}

.placeholder {
  color: #959595;
  display: grid;
  text-align: center;

  &__container {
    justify-self: center;
    align-self: center;
    max-width: 80%;
  }

  &__icon {
    font-size: 2em;
    margin-bottom: 2rem;
    animation: slide linear 1.4s infinite;
  }

  &__heading {
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 1em;
    line-height: 1.5;
  }
}

@keyframes slide {
  100%,
  0% {
    transform: translate3d(.5rem, 0, 0);
  }
  50% {
    transform: translate3d(-.5rem, 0, 0);
  }
}